# Python
__pycache__/
*.py[cod]
*.env
env/
venv/
*.log

# VSCode
.vscode/

# Node
node_modules/
build/
.env.local
.env.development.local
.env.test.local
.env.production.local

# System
.DS_Store
Thumbs.db